@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Poppins', 'sans-serif';
}
body{
    background: rgb(22,145,231);
background: linear-gradient(90deg, rgba(22,145,231,1) 5%, rgba(13,42,199,1) 35%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width:800px;
    background-color: #ffffff85;
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.47);
}
.main-use{
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    border-radius: 10px 10px 100px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.119);
    position: relative;
}
.contain-input{
    margin: 40px 15px 30px 15px;
    display: flex;
}
.contain-input input{
    font-size: 18px;
    font-weight: bold;
    width: 90px;
    border: 1px solid rgba(0, 0, 0, 0.339);
    border-radius: 2px;
    padding: 10px;
}
.input-style{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 10px 0px 10px;
}
hr{

    margin: 0px 30px 0px 30px;
    border: 1px solid rgba(0, 0, 0, 0.114)
    
}
.simbol{
    border-radius: 50%;
    padding: 5px;
    background-color: hsl(259, 100%, 65%);
    position: absolute;
    top: 110px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.contain-data{
    margin: 0px 0px 0px 30px;
}
.contain-data h1{
    margin-top: 15px;
    font-size: 48px;
    height: 40px;
    font-weight: bold;

}
label{
    font-size: 12px;
    letter-spacing: 2px;
    color: rgba(129, 128, 128, 0.861);
    font-weight: 600;
}

.span{
    font-size: 52px;
    color: hsl(259, 100%, 65%);
    margin: 
    0px 2px 0px 0px;
    font-weight: bold;
}

