*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   

}

body{    
    font-family: 'Poppins', sans-serif;
 
}
.cabecalho{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(192, 191, 191, 0.712);
    

}
ul, a{
    display: flex;
    gap: 35px;
    color: rgb(104, 104, 104);
    text-decoration: none;
    list-style-type: none;
    align-self: center;
}
a > img{
    width: 33px;
    height: 33px;

}
#imagem-cart{
    width: 22px;
    height: 22px;

}
.div-cabecalho{
    display: flex;
    gap: 35px;
}

.article-principal{
    
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(6, 70px);
   
    grid-gap: 10px;
    grid-auto-columns: 100px;
    grid-auto-rows: 45px;
    align-items: center;

}

.figura > img {
    width: 100%;
    height: 100%;
   object-fit: cover;
    border-radius: 8px;
    
   
}
.figura {
    grid-column:  4 / 8;
    grid-row: 2 / 8;


}
.figura2 > img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;

}
.figura2 {
    grid-row: 8 / 10;
    grid-column: 5 / 6;
   

}

.figura3 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.figura3 {
    grid-row: 8 /10;
    grid-column: 4 / 5;

}
.figura4 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.figura4 {
    grid-row: 8 /10;
    grid-column: 6 / 7;

}
.figura5 > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.figura5 {
    grid-row: 8 /10;
    grid-column: 7 / 8;

}
.div-secundaria{
    display: flex;
    flex-direction: column;
    grid-row: 4 / 6;
    grid-column: 9 / 10;
    width: 400px;
}
h5{
    color: #FF7E1B;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
    margin-bottom: 8px;
}
h2{
    margin-bottom: 8px;
    font-size: 1.6em;

}
p{
    line-height: 23px;
   color: rgba(138, 138, 138, 0.884);

}
.div-secundaria > span:first-of-type{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    line-height: 1.5em;

}

.div-secundaria > span:last-of-type{
    color: rgba(138, 138, 138, 0.884);




}
.botao1{
    display: flex;
   
    grid-row: 6 / 7;
    grid-column: 9 / 10;
    
    width: 100%;
    height: 60%;
    object-fit: cover;
    align-items: center;
    gap: 20px;
    background-color: aliceblue;
    padding: 12px 12px 12px 15px;
    border-radius: 10px;
    box-shadow: -2px 2px 5px black;

}
.botao2 {

    display: flex;
   
    grid-row: 6 / 7;
    grid-column: 10 / 12;
   
    width: 100%;
    height: 60%;
    object-fit: cover;
    align-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
    padding: 12px 12px 12px 15px;
    border-radius: 10px;
    box-shadow: -2px 2px 5px black;
    color: white;
    background-color: #FF7E1B;
    font-weight: bold;
    font-size: 1.1em;
}
.botao2 > img {
    width: 20px;
    height: 18px;
    

}
